*{
    margin:0;
     
}
.container_total_case{
    display:flex;
    justify-content: center;
}
 
.container_title_cases{
    background-color:#3498DB;
    width:30%;
    height:70px;
    margin:10px;
    

}
.container_title_cases_h1{
    padding:20px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size:25px;

}
.input_code{
    width:30%;
    height:30px;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    position:relative;
    left:25em;
    margin:2em;
    padding:5px;
    

}
.input_submit{
    width:10%;
    height:30px;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    position:relative;
    top:50px;
    left:6em;
}